.header {
    width: 320px;
    position: fixed;
    top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 1;
    h1 {
        padding: 10px;
        font-size: 20px;
    }
    .ShowCartButton {
        margin-right: 10px;
        button {
            display: flex;
            align-items: center;
            background-color: transparent;
            border: none;
            img {
                width: 25px;
            }
            span {
                margin-left: 5px;
                display: block;
                border-radius: 50%;
                background-color:rgb(255, 66, 2);
                color: white;
                padding: 2px 5px;
            }
        }
    }
}
