# Ignorar dependencias de Node.js
node_modules/
package-lock.json
yarn.lock

# Ignorar archivos del entorno
.env
.DS_Store

# Ignorar archivos de compilación
dist/
build/
.cache/

# Ignorar configuraciones del editor
.vscode/
.idea/
