/* [project]/src/app/styles/NewCartModal.module.css [app-client] (css) */
.NewCartModal-module__CcH6Zq__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: .3s forwards NewCartModal-module__CcH6Zq__fadeIn;
}

@keyframes NewCartModal-module__CcH6Zq__fadeIn {
  to {
    opacity: 1;
  }
}

.NewCartModal-module__CcH6Zq__modalContent {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 800px;
  max-width: 90%;
  text-align: center;
  box-shadow: 0 4px 12px #0000001a;
  transform: scale(.9);
  animation: .3s forwards NewCartModal-module__CcH6Zq__scaleIn;
}

@keyframes NewCartModal-module__CcH6Zq__scaleIn {
  to {
    transform: scale(1);
  }
}

.NewCartModal-module__CcH6Zq__closeButton {
  background-color: #0000;
  color: #333;
  border: none;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: color .3s;
}

.NewCartModal-module__CcH6Zq__closeButton:hover {
  color: #e63946;
}

.NewCartModal-module__CcH6Zq__content {
  display: flex;
  justify-content: space-between;
}

.NewCartModal-module__CcH6Zq__cartItems {
  margin-top: 20px;
  max-height: 300px;
  overflow-y: auto;
  flex: 1;
  margin-right: 20px;
}

.NewCartModal-module__CcH6Zq__cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: background-color .3s, box-shadow .3s;
}

.NewCartModal-module__CcH6Zq__cartItem:hover {
  background-color: #f9f9f9;
  box-shadow: 0 4px 12px #0000001a;
}

.NewCartModal-module__CcH6Zq__cartItemDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.NewCartModal-module__CcH6Zq__cartItemName {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.NewCartModal-module__CcH6Zq__cartItemDescription {
  font-size: 14px;
  color: #777;
  margin-bottom: 5px;
}

.NewCartModal-module__CcH6Zq__cartItemInfo {
  font-size: 14px;
  color: #555;
}

.NewCartModal-module__CcH6Zq__cartItemSubtotal {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}

.NewCartModal-module__CcH6Zq__cartItemCode {
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}

.NewCartModal-module__CcH6Zq__cartItemImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 10px;
}

.NewCartModal-module__CcH6Zq__quantityControls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.NewCartModal-module__CcH6Zq__quantityButton {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color .3s;
}

.NewCartModal-module__CcH6Zq__quantityButton:hover {
  background-color: #45a049;
}

.NewCartModal-module__CcH6Zq__removeButton {
  background-color: #e63946;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color .3s;
}

.NewCartModal-module__CcH6Zq__removeButton:hover {
  background-color: #d62839;
}

.NewCartModal-module__CcH6Zq__total {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.NewCartModal-module__CcH6Zq__summary {
  margin-top: 20px;
  text-align: left;
}

.NewCartModal-module__CcH6Zq__summaryItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.NewCartModal-module__CcH6Zq__summaryItem span {
  font-weight: bold;
}

.NewCartModal-module__CcH6Zq__formContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.NewCartModal-module__CcH6Zq__form {
  margin-bottom: 20px;
  text-align: left;
}

.NewCartModal-module__CcH6Zq__formGroup {
  margin-bottom: 15px;
}

.NewCartModal-module__CcH6Zq__formGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.NewCartModal-module__CcH6Zq__formGroup input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.NewCartModal-module__CcH6Zq__formError {
  color: #e63946;
  margin-bottom: 15px;
}

.NewCartModal-module__CcH6Zq__payButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.NewCartModal-module__CcH6Zq__payButton {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color .3s, transform .3s;
  margin-top: 20px;
}

.NewCartModal-module__CcH6Zq__payButton:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

/*# sourceMappingURL=src_app_styles_NewCartModal_module_b52d8e.css.map*/